{% extends 'base.html.twig' %}

{% block body %}
    <!-- about -->
    <div class="about">
        <div class="container_width">
            <div class="row d_flex">
                <div class="col-md-7">
                    <div class="titlepage text_align_left">
                        <h2>Parlez-nous de votre projet</h2>
                        <p>Prenez render-vous en ligne ou par téléphone pour parler de votre projet à notre équipe.</p>
                        <a class="read_more" href="{{ path('app_appointment') }}">Prendre rendez-vous</a>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="about_img text_align_center">
                        <figure><img src="/assets/images/project.jpg" alt="#"/></figure>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- end about -->
    <!-- coronata -->
    <!-- <div class="coronata">
        <div class="container">
            <div class="row d_flex grid">
                <div class="col-md-7">
                    <div class="coronata_img text_align_center">
                        <figure><img src="/assets/images/corona.png" alt="#"/></figure>
                    </div>
                </div>
                <div class="col-md-5 oder1">
                    <div class="titlepage text_align_left">
                        <h2>Coronavirus what it is?</h2>
                        <p>when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using
                        </p>
                        <a class="read_more" href="coronata.html">About More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
    <!-- end coronata -->

    <!-- protect -->
    <div class="protect">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage text_align_center">
                        <h2>Etapes pour conduire votre projet</h2>
                        <!-- <p>when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="protect_bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <!--  Demos -->
                        <div class="owl-carousel owl-theme">
                            <div class="item">
                                <div class="protect_box text_align_center">
                                    <div class="desktop">
                                        <div>
                                            <span style="font-size: 22px; color:white; background-color: #ED242E; padding: 10px; border-radius: 50%;height: 55px; width: 55px;display: inline-block"><b>1</b></span>
                                        </div>
                                        <h3>Réunion de cadrage</h3>
                                        <span> Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="protect_box text_align_center">
                                    <div class="desktop">
                                        <div>
                                            <span style="font-size: 22px; color:white; background-color: #ED242E; padding: 10px; border-radius: 50%;height: 55px; width: 55px;display: inline-block"><b>2</b></span>
                                        </div>
                                        <h3>Développement</h3>
                                        <span> Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="protect_box text_align_center">
                                    <div class="desktop">
                                        <div>
                                            <span style="font-size: 22px; color:white; background-color: #ED242E; padding: 10px; border-radius: 50%;height: 55px; width: 55px;display: inline-block"><b>3</b></span>
                                        </div>
                                        <h3>Recettage & Tests</h3>
                                        <span> Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="protect_box text_align_center">
                                    <div class="desktop">
                                        <div>
                                            <span style="font-size: 22px; color:white; background-color: #ED242E; padding: 10px; border-radius: 50%;height: 55px; width: 55px;display: inline-block"><b>4</b></span>
                                        </div>
                                        <h3>Mise en ligne</h3>
                                        <span> Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="protect_box text_align_center">
                                    <div class="desktop">
                                        <div>
                                            <span style="font-size: 22px; color:white; background-color: #ED242E; padding: 10px; border-radius: 50%;height: 55px; width: 55px;display: inline-block"><b>5</b></span>
                                        </div>
                                        <h3>Garantie & Maintenance</h3>
                                        <span> Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- end protect -->
    <!-- cases -->
    <div class="cases">
        <div class="container-fluid mb-4">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage text_align_center ">
                        <h2>Les services de notre agence</h2>
                        <!-- <p>making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful</p> -->
                    </div>
                </div>
            </div>
            <div class="row d_flex">
                <div class=" col-md-4">
                    <a href="{{ path('app_service_website') }}">
                        <div class="mb-0 latest text_align_center" style="border-radius: 10px">
                            <figure><img src="/assets/images/website.jpg" alt="#" width="400" height="400"/></figure>
                            <div class="nostrud">
                                <h3>Sites web</h3>
                                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="{{ path('app_service_application_web') }}">
                        <div class="mb-0 latest text_align_center" style="border-radius: 10px">
                            <figure><img src="/assets/images/application.jpg" alt="#" width="400" height="400"/></figure>
                            <div class="nostrud">
                                <h3>Application web</h3>
                                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class=" col-md-4">
                    <a href="{{ path('app_service_hosting') }}">
                        <div class="mb-0 latest text_align_center" style="border-radius: 10px">
                            <figure><img src="/assets/images/hebergement.jpg" alt="#" width="400" height="400"/></figure>
                            <div class="nostrud">
                                <h3>Hebergement web</h3>
                                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row d_flex">
                <div class="col-md-2">
                </div>
                <div class="col-md-4">
                    <a href="{{ path('app_service_extranet') }}">
                        <div class="mb-0 latest text_align_center" style="border-radius: 10px">
                            <figure><img src="/assets/images/extranet.jpg" alt="#" width="400" height="400"/></figure>
                            <div class="nostrud">
                                <h3>Extranet</h3>
                                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class=" col-md-4">
                    <a href="{{ path('app_service_intranet') }}">
                        <div class="mb-0 latest text_align_center" style="border-radius: 10px">
                            <figure><img src="/assets/images/intranet.jpg" alt="#" width="400" height="400"/></figure>
                            <div class="nostrud">
                                <h3>Intranet</h3>
                                <p>lorem ipsum It is a long established It is a long established fact that a reader fact that a reader nt of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-2">
                </div>
            </div>
        </div>
    </div>
    <!-- end cases -->
    <!-- doctors -->
    <div class="doctors">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage text_align_center ">
                        <h2>Ils nous ont consultés</h2>
                    </div>
                </div>
            </div>
            <div class="row d_flex">
                <div class=" col-md-6">
                    <div id="ho_efcet" class="reader text_align_center">
                        <i><img src="/assets/images/doctor1.png" alt="#"/></i>
                        <h3>Joe</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        <span><img src="/assets/images/do.png" alt="#"/></span>
                    </div>
                </div>
                <div class=" col-md-6">
                    <div id="ho_efcet" class="reader text_align_center">
                        <i><img src="/assets/images/doctor2.png" alt="#"/></i>
                        <h3>Anne</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        <span><img src="/assets/images/do.png" alt="#"/></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end cases -->
    <!-- update -->
    <!--<div class="update">
        <div class="cevery_white">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="titlepage">
                            <h2>Get Every Update.... </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cevery_bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <form id="colof" class="form_subscri">
                            <input class="newsl" placeholder="Votre e-mail" type="text" name="Email">
                            <button class="subsci_btn">S'inscrire à la newletters</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
    <!-- update -->
{% endblock %}
