{% extends 'base.html.twig' %}

{% block body %}
    <div class="contact mb-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage text_align_left">
                        <h2>Nos services</h2>
                        <p>Retrouvez nos services.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="row col-md-12">
                    <div class="row col-md-6">
                        <div class="col-md-12">
                            <h3>Site Web</h3>
                        </div>
                        <div class="col-md-12">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        </div>
                        <div class="col-md-12">
                            <a href="{{ path('app_service_website') }}" style="text-decoration: none; background-color: #ED242E; color: white; padding: 20px; ">Lire plus</a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="/assets/images/website.jpg" width="350" height="350">
                    </div>
                </div>
                <div class="row col-md-12">
                    <div class="col-md-6">
                        <img src="/assets/images/application.jpg" width="350" height="350">
                    </div>
                    <div class="row col-md-6">
                        <div class="col-md-12">
                            <h3>Application web</h3>
                        </div>
                        <div class="col-md-12">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        </div>
                        <div class="col-md-12">
                            <a href="{{ path('app_service_application_web') }}" style="text-decoration: none; background-color: #ED242E; color: white; padding: 20px; ">Lire plus</a>
                        </div>
                    </div>
                </div>
                <div class="row col-md-12">
                    <div class="row col-md-6">
                        <div class="col-md-12">
                            <h3>Hebergement Web</h3>
                        </div>
                        <div class="col-md-12">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        </div>
                        <div class="col-md-12">
                            <a href="{{ path('app_service_hosting') }}" style="text-decoration: none; background-color: #ED242E; color: white; padding: 20px; ">Lire plus</a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="/assets/images/hebergement.jpg" width="350" height="350">
                    </div>
                </div>
                <div class="row col-md-12">
                    <div class="col-md-6">
                        <img src="/assets/images/extranet.jpg" width="350" height="350">
                    </div>
                    <div class="row col-md-6">
                        <div class="col-md-12">
                            <h3>Extranet</h3>
                        </div>
                        <div class="col-md-12">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        </div>
                        <div class="col-md-12">
                            <a href="{{ path('app_service_extranet') }}" style="text-decoration: none; background-color: #ED242E; color: white; padding: 20px; ">Lire plus</a>
                        </div>
                    </div>
                </div>
                <div class="row col-md-12">
                    <div class="row col-md-6">
                        <div class="col-md-12">
                            <h3>Intranet</h3>
                        </div>
                        <div class="col-md-12">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                        </div>
                        <div class="col-md-12">
                            <a href="{{ path('app_service_intranet') }}" style="text-decoration: none; background-color: #ED242E; color: white; padding: 20px; ">Lire plus</a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="/assets/images/intranet.jpg" width="350" height="350">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
