{% extends 'base.html.twig' %}

{% block body %}
    <div class="contact mb-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage text_align_left">
                        <h2>Prenez render-vous en ligne</h2>
                        <p>Prenez render-vous en ligne ou par téléphone pour parler de votre projet à notre équipe.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <form id="request" class="main_form">
                        <div class="row">
                            {% for houre, status in current_houre_list %}
                                {% if status == "available" %}
                                <span class="col-md-2 houre_available" style="color: white;cursor: pointer; margin: 10px; text-align: center; background-color: #ED242E; border-radius: 15px; padding: 10px" data-value="{{ houre }}" data-toggle="modal" data-target="#removeCompanyModal">
                                    {{ houre }}h
                                </span>
                                {% endif %}
                                {% if status == "not available" %}
                                    <div class="col-md-2" style="margin: 10px; text-align: center; background-color: lightgrey; color: white; border-radius: 15px; padding: 10px">
                                        {{ houre }}h
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </form>
                </div>
                <div class="col-md-6">
                    <div class="pt-5">
                        <div class="p-3">
                            <p>Choisissez une date et une heure pour votre rendez-vous.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="removeCompanyModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Formulaire</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ form_start(appointmentForm) }}
                    <input name="houre_selected" id="houre_selected" type="hidden" value="" />
                    <div class="row my-2">
                        <div class="col-md-12">
                            {{ form_widget(appointmentForm.email) }}
                            <div class="text-danger">{{ form_errors(appointmentForm.email) }}</div>
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-md-12">
                            {{ form_widget(appointmentForm.phone) }}
                            <div class="text-danger">{{ form_errors(appointmentForm.phone) }}</div>
                        </div>
                    </div>
                    <button style="background-color: #ED242E; border: none" type="submit" class="btn btn-primary btn-user btn-block">Prendre rendez-vous</button>
                    {{ form_end(appointmentForm) }}
                </div>
            </div>
        </div>
    </div>
    <script>
    $('.houre_available').click(function(event) {
        $("#houre_selected").val($(this).attr("data-value"));
    });
    </script>
{% endblock %}
