{% extends 'base.html.twig' %}

{% block body %}
    <div class="contact mb-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="titlepage text_align_left">
                        <h2>Contactez-nous</h2>
                        <p>Utilisez le formulaire pour nous contacter ou appelez-nous directement.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    {{ form_start(contactForm) }}
                    <div class="row my-4">
                        <div class="col-md-12">
                            {{ form_widget(contactForm.fullname) }}
                            <div class="text-danger">{{ form_errors(contactForm.fullname) }}</div>
                        </div>
                    </div>
                    <div class="row my-4">
                        <div class="col-md-12">
                            {{ form_widget(contactForm.phone) }}
                            <div class="text-danger">{{ form_errors(contactForm.phone) }}</div>
                        </div>
                    </div>
                    <div class="row my-4">
                        <div class="col-md-12">
                            {{ form_widget(contactForm.email) }}
                            <div class="text-danger">{{ form_errors(contactForm.email) }}</div>
                        </div>
                    </div>
                    <div class="row my-4">
                        <div class="col-md-12">
                            {{ form_widget(contactForm.message) }}
                            <div class="text-danger">{{ form_errors(contactForm.message) }}</div>
                        </div>
                    </div>
                    <button style="background-color: #ED242E; border: none; padding: 20px" type="submit" class="btn btn-primary btn-user btn-block">Envoyer</button>
                    {{ form_end(contactForm) }}
                </div>
                <div class="col-md-6">
                    <div class="map-responsive">
                        <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&amp;q=Eiffel+Tower+Paris+France" width="600" height="540" frameborder="0" style="border:0; width: 100%;" allowfullscreen=""></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
